@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: #333;
  font-size: 14px;
  letter-spacing: -0.25px;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
